A {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
IMG {
	MAX-WIDTH: 100% !important
}
IMG.alignright {
	FLOAT: right; MARGIN: 0px 0px 1em 1em
}
IMG.alignleft {
	FLOAT: left; MARGIN: 0px 1em 1em 0px
}
IMG.aligncenter {
	MARGIN-LEFT: auto; DISPLAY: block; MARGIN-RIGHT: auto
}
A IMG.alignright {
	FLOAT: right; MARGIN: 0px 0px 1em 1em
}
A IMG.alignleft {
	FLOAT: left; MARGIN: 0px 1em 1em 0px
}
A IMG.aligncenter {
	MARGIN-LEFT: auto; DISPLAY: block; MARGIN-RIGHT: auto
}
.menu-item .fa {
	PADDING-RIGHT: 6px
}
.post-info {
	FONT-SIZE: 13px; BORDER-TOP: #e5e5e5 2px solid; COLOR: #777; PADDING-BOTTOM: 1.25em; FONT-STYLE: normal; PADDING-TOP: 1em; PADDING-LEFT: 0px; MARGIN: 1em 0px 0px; DISPLAY: inline-block; PADDING-RIGHT: 0px
}
.post-info A {
	COLOR: #777
}
.post-info SPAN {
	MARGIN-LEFT: 15px
}
OL.commentlist {
	BORDER-TOP: #ddd 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 0px; MARGIN: 0px 0px 30px; PADDING-RIGHT: 0px
}
.commentlist LI {
	LIST-STYLE-TYPE: none; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 15px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.gravatar {
	FLOAT: left; MARGIN: 0px 15px 0px 0px; border-radius: 20em
}
A.comment-reply-link {
	FONT-SIZE: 12px; TEXT-DECORATION: none; RIGHT: 0px; POSITION: absolute; TEXT-TRANSFORM: uppercase; COLOR: #666; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; PADDING-LEFT: 18px; LINE-HEIGHT: 100%; TOP: 8px; PADDING-RIGHT: 0px
}
CITE.author_name {
	FONT-SIZE: 130%; COLOR: #646464
}
.commentmetadata.comment-meta {
	FONT-SIZE: 75%; TEXT-TRANSFORM: uppercase
}
.comment_text {
	OVERFLOW: hidden; WORD-WRAP: break-word; BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; PADDING-BOTTOM: 5px; MIN-HEIGHT: 40px
}
A.comment-edit-link {
	FONT-SIZE: 12px; TEXT-DECORATION: none; RIGHT: 30px; POSITION: absolute; TEXT-TRANSFORM: uppercase; COLOR: #666; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; PADDING-LEFT: 18px; LINE-HEIGHT: 100%; TOP: 8px; PADDING-RIGHT: 0px
}
.logged-in-as {
	FONT-SIZE: 13px; MARGIN-BOTTOM: 2em; COLOR: ; LINE-HEIGHT: 1.5
}
.logged-in-as A {
	TEXT-DECORATION: none; COLOR: 
}
.comment_content A {
	COLOR: #777
}
.page_navi {
	OVERFLOW: hidden; WIDTH: 100%; PADDING-BOTTOM: 2em; TEXT-ALIGN: center; PADDING-TOP: 3em
}
SPAN.current {
	TEXT-DECORATION: none; BORDER-TOP: #ffbb76 1px solid; HEIGHT: 36px; BORDER-RIGHT: #ffbb76 1px solid; BORDER-BOTTOM: #ffbb76 1px solid; FONT-WEIGHT: bolder; COLOR: #ff7200; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 8px; BORDER-LEFT: #ffbb76 1px solid; MARGIN: 2px; LINE-HEIGHT: 36px; PADDING-RIGHT: 8px; BACKGROUND-COLOR: white; border-radius: 5px; -webkit-border-radius: 12px; -moz-border-radius: 12px
}
.page_navi A {
	TEXT-DECORATION: none; BORDER-TOP: #ddd 1px solid; HEIGHT: 36px; BORDER-RIGHT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; COLOR: #888; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 8px; BORDER-LEFT: #ddd 1px solid; MARGIN: 2px; LINE-HEIGHT: 36px; PADDING-RIGHT: 8px; BACKGROUND-COLOR: white; border-radius: 5px; -webkit-border-radius: 12px; -moz-border-radius: 12px
}
.waterfall-box {
	MARGIN-BOTTOM: 2em
}

@media Unknown    
{
.waterfall {
	-moz-column-count: 3; -webkit-column-count: 3; column-count: 3; -moz-column-gap: 2em; -webkit-column-gap: 2em; column-gap: 2em
}
.waterfall-index {
	-moz-column-count: 2; -webkit-column-count: 2; column-count: 2; -moz-column-gap: 2em; -webkit-column-gap: 2em; column-gap: 2em
}
.waterfall-box {
	-moz-page-break-inside: avoid; -webkit-column-break-inside: avoid; break-inside: avoid
}
    }
.container > header H2 + P {
	FONT-SIZE: 14px !important
}
.container > header P A {
	COLOR: #777 !important
}
#header {
	FONT-SIZE: 15px
}
.post-nav {
	PADDING-BOTTOM: 20px; CLEAR: both
}
.post-nav .prev {
	WIDTH: 47%; POSITION: relative; FLOAT: left
}
.post-nav .next {
	WIDTH: 47%; POSITION: relative; FLOAT: right; TEXT-ALIGN: right
}
.post-nav A {
	TEXT-DECORATION: none; COLOR: #777; DISPLAY: block
}
.post-nav .next .arrow {
	FLOAT: right; MARGIN-RIGHT: 0px
}
.post-nav .arrow {
	HEIGHT: 60px; WIDTH: 32px; FLOAT: left; COLOR: #777; TEXT-ALIGN: center; FONT: 20px/100% "Times New Roman", Times, serif; -moz-transition: background 1s
}
.related_posts {
	MARGIN-TOP: 5px
}
.related_img {
	HEIGHT: 370px; WIDTH: 100%
}
.related_box {
	OVERFLOW: hidden; WIDTH: 50%; MARGIN-TOP: 5px; FLOAT: left
}
.related_box:hover {
	BACKGROUND: #f9f9f9
}
.related_box .r_title {
	FONT-SIZE: 14px; OVERFLOW: hidden; HEIGHT: 72px; WIDTH: auto; FONT-WEIGHT: 400; MARGIN: 0px 10px
}
.related_box .r_pic {
	MARGIN: 6px
}
.r_title A {
	COLOR: #777
}
.related_box .r_pic IMG {
	BORDER-TOP: #e1e1e1 1px solid; HEIGHT: 100px; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 100%; BACKGROUND: #fff; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-RIGHT: 2px
}

@media Unknown    
{
.related_posts {
	MARGIN-TOP: 5px
}
.related_img {
	HEIGHT: 210px; WIDTH: 100%
}
.related_box {
	OVERFLOW: hidden; WIDTH: 25%; MARGIN-TOP: 5px; FLOAT: left
}
.related_box:hover {
	BACKGROUND: #f9f9f9
}
.related_box .r_title {
	FONT-SIZE: 14px; OVERFLOW: hidden; HEIGHT: 72px; WIDTH: auto; FONT-WEIGHT: 400; MARGIN: 0px 10px
}
.related_box .r_pic {
	MARGIN: 6px
}
.r_title A {
	COLOR: #777
}
.related_box .r_pic IMG {
	BORDER-TOP: #e1e1e1 1px solid; HEIGHT: 100px; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 100%; BACKGROUND: #fff; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-RIGHT: 2px
}
    }
.table-love TBODY TR {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
UNKNOWN {
	BACKGROUND-COLOR: #fff
}
.beian {
	FONT-SIZE: 0.9em; COLOR: #999; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 1em 0px 0px; LINE-HEIGHT: 1em; PADDING-RIGHT: 0px
}
#footer .beian LI:first-child {
	BORDER-LEFT-WIDTH: 0px; PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
#footer .beian LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 1em; MARGIN-LEFT: 1em; BORDER-LEFT: #dddddd 1px solid; DISPLAY: inline-block
}
.footerlink {
	FONT-SIZE: 12px; COLOR: #999; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 1em 0px 0px; LINE-HEIGHT: 2em; PADDING-RIGHT: 0px
}
.footerlink LI:first-child {
	BORDER-LEFT-WIDTH: 0px; PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
.footerlink LI {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 0.5em; MARGIN-LEFT: 0.5em; BORDER-LEFT: #dddddd 1px solid; DISPLAY: inline-block
}
.footerlink A {
	COLOR: #999
}
#moquu_top {
	CURSOR: pointer; HEIGHT: 30px; WIDTH: 30px; RIGHT: 10px; POSITION: fixed; Z-INDEX: 2; _position: absolute; _bottom: auto
}
#moquu_wxin {
	CURSOR: pointer; HEIGHT: 30px; WIDTH: 30px; RIGHT: 10px; POSITION: fixed; Z-INDEX: 2; _position: absolute; _bottom: auto
}
#moquu_wshare {
	CURSOR: pointer; HEIGHT: 30px; WIDTH: 30px; RIGHT: 10px; POSITION: fixed; Z-INDEX: 2; _position: absolute; _bottom: auto
}
#moquu_wxin {
	RIGHT: 10px; BOTTOM: 130px
}
#moquu_wxin A {
	HEIGHT: 30px; WIDTH: 30px; BACKGROUND: url(images/sbtn.png) 0px 0px; RIGHT: 0px; FLOAT: left; TEXT-INDENT: -9999px
}
#moquu_wxin A:hover {
	BACKGROUND: url(images/sbtn.png) -30px 0px
}
#moquu_wshare {
	RIGHT: 10px; BOTTOM: 100px
}
#moquu_wshare A {
	HEIGHT: 30px; WIDTH: 30px; BACKGROUND: url(images/sbtn.png) 0px -30px; RIGHT: 0px; FLOAT: left; TEXT-INDENT: -9999px
}
#moquu_wshare A:hover {
	BACKGROUND: url(images/sbtn.png) -30px -30px
}
.moquu_wxin {
	POSITION: relative; Z-INDEX: 2
}
.moquu_wshare {
	POSITION: relative; Z-INDEX: 2
}
.moquu_wxin A:hover .moquu_wxinh {
	DISPLAY: block
}
.moquu_wshare A:hover .moquu_wshareh {
	DISPLAY: block
}
.moquu_wxin .moquu_wxinh {
	HEIGHT: 30px; WIDTH: 70px; BACKGROUND: url(images/fankui.png) #ff6060 no-repeat 0px 0px; RIGHT: 30px; POSITION: absolute; COLOR: #fff; DISPLAY: none; BOTTOM: 0px; border-radius: 4px 0 0 4px
}
.moquu_wshare .moquu_wshareh {
	HEIGHT: 120px; WIDTH: 100px; BACKGROUND: url(images/weixin.png) no-repeat; RIGHT: 36px; POSITION: absolute; DISPLAY: none; BOTTOM: -85px
}
#topcontrol {
	HEIGHT: 30px; WIDTH: 30px; border-radius: 4px
}
header.major {
	PADDING-BOTTOM: 1em; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
header.major P {
	COLOR: #777; PADDING-BOTTOM: 0px; FONT-STYLE: normal; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 1.5em 0px 0px; DISPLAY: inline-block; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
.d4 FORM {
	WIDTH: 100%; BORDER-BOTTOM: #e6e6e6 4px solid; POSITION: relative; MARGIN: 0px auto
}
.d4 INPUT {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; OUTLINE-STYLE: none
}
.d4 BUTTON {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; OUTLINE-STYLE: none
}
.d4 INPUT {
	HEIGHT: 42px; WIDTH: 100%; PADDING-LEFT: 15px
}
.d4 BUTTON {
	CURSOR: pointer; HEIGHT: 42px; WIDTH: 42px; RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.d4 BUTTON:before {
	FONT-SIZE: 20px; FONT-FAMILY: FontAwesome; COLOR: #beb5a4; CONTENT: "?"
}
UL.post-meta-info {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL.post-meta-info LI {
	DISPLAY: inline
}
.post-meta-author {
	PADDING-LEFT: 0px
}
.post-meta-author IMG {
	HEIGHT: 22px; WIDTH: 22px; VERTICAL-ALIGN: middle; LEFT: 0px; DISPLAY: inline-block; TOP: 0px; border-radius: 22px
}
.pull-right {
	FLOAT: right
}
.pull-left {
	FLOAT: left
}
.post-mata-color {
	COLOR: #8a8a8a
}
